:root{
  --semibold: 600;
  --bold: 700;
  --button-text-size: 1rem;
  --border-radius: 0.5rem;
  --block-color: linear-gradient(#FFFFFF, #F3F3F3);
  --red-circle: #DB2E4D;
  --red-circle-shadow: #9D1634;
  --yellow-circle: #EB9F0E;
  --yellow-circle-shadow: #C76C1B;
  --blue-circle: #4664F4;
  --blue-circle-shadow: #2A45C2;
  --spock-circle: #3FB7CD;
  --spock-circle-shadow: #2D8DAB;
  --lizard-circle: #834EE3;
  --lizard-circle-shadow: #5F37A8;
}


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}

/* TEXTOS */
h1{
  color: white;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 1000px){
  h1{
    font-size: 5.625rem;
  }
}
h2{
  font-size: 3.5rem;
  font-weight: var(--bold);
  color: white;
  margin: 0;
}
h3{
  font-size: 2.5rem;
  font-weight: var(--bold);
  color: #565468;
  line-height: 2.5rem;
}
.text-m{
  font-size: 0.9375rem;
  font-weight: var(--semibold);
  color: white;
  letter-spacing: 0.1175rem;
  margin: 0;
}
.text-s{
  font-size: 0.625rem;
  font-weight: var(--semibold);
  color: #2A45C2;
  letter-spacing: 0.0975rem;
  margin: 0;
}
/* FIN TEXTOS */


/* HEADER */
.back-button{
  font-family: "Barlow Semi Condensed", sans-serif;
  border: none;
  background-color: transparent;
  color: #565468;
}
.background{
  background-image: radial-gradient(circle,#1F3757, #131537);
  min-width: 100vw;
  min-height: 100vh;
  /* cambiar al final */
}
.home-header{
  margin-top: 1rem;
  margin-bottom: 1.875rem;
}

/* FIN HEADER */


/* HOME ELECCIÓN JUEGO */
.games{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
}
.game{
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}
.home-image{
  width: 40vw;
  height: auto;
}
.button{
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: var(--block-color);
  width: 13.75rem;
  height: 3rem;
  color: #3B4262;
  border-radius: var(--border-radius);
  font-size: var(--button-text-size);
  letter-spacing: 0.1563rem;
  border: none;
  
}
.button:hover{
  color: #DB2E4D;
}

.simple-header{
  margin-bottom: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
.top-info{
  width: 19.4375rem;
  height: 6rem;
  border: 0.1875rem solid rgba(255, 255, 255, 0.28);
  border-radius: var(--border-radius);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-image{
  height: 4rem;
}
.score-block{
  width: 5rem;
  height: 4.5rem;
  border-radius: var(--border-radius);
  background-image: var(--block-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.score-number{
  margin:0;
}
.start-simple-game{
  background-image: url(../assests/images/bg-triangle.svg);
  width: 19.5rem;
  height: 17.625rem;
  margin-inline: auto;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.start-advanced-game{
  background-image: url(../assests/images/bg-pentagon.svg);
  width: 19.5rem;
  height: 17.625rem;
  margin-inline: auto;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.circle{
  position: absolute;
  width: 6.2069rem;
  height: 6.2069rem;
  border-radius: 100%;
  box-shadow: inset 0 0.3269rem 0 0 #BABFD4;
  background-image: linear-gradient(#F3F3F3, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue{
  position: relative;
  border: 0.9375rem solid var(--blue-circle);
  box-shadow: 0 0.4375rem 0 0 var(--blue-circle-shadow);
  top: -10px;
}
.red{
  position: relative;
  top: -20px;
  left: 105px;
  border: 0.9375rem solid var(--red-circle);
  box-shadow: 0 0.4375rem 0 0 var(--red-circle-shadow);
}
.yellow{
  position: relative;
  bottom: 110px;
  left: 200px;
  border: 0.9375rem solid var(--yellow-circle);
  box-shadow: 0 0.4375rem 0 0 var(--yellow-circle-shadow);
}
.green{
  position: relative;
  top: -350px;
  border: 0.9375rem solid var(--spock-circle);
  box-shadow: 0 0.4375rem 0 0 var(--spock-circle-shadow);
}
.purple{
  position: relative;
  bottom: 110px;
  left: 30px;
  border: 0.9375rem solid var(--lizard-circle);
  box-shadow: 0 0.4375rem 0 0 var(--lizard-circle-shadow);
}
.icon-image{
  pointer-events: none;
  width: 60%;
}
.footer-status{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.rules-button{
  background-color: transparent;
  border: 0.0625rem solid white;
  border-radius: var(--border-radius);
  width: 8rem;
  height: 2.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--button-text-size);
  letter-spacing: 0.1031rem;
  color: white;
}
.body-game{
  margin-bottom: 5rem;
}
.hide{
  display: none;
}
.during-simple-game{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.option-game-picked{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options-game{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}